@model MoneyManager.Website.Models.Forms.DisplayDetailsTransaction

@{
    ViewData["Title"] = "Delete";
}
<div>
    <h4>Suppression d'une transaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseOrIncome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpenseOrIncome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Supprimer la transaction" class="btn btn-danger" /> |
        <a asp-action="Index">Retour</a>
    </form>
</div>
