@model IEnumerable<MoneyManager.Website.Models.Forms.BudgetLimitForm>

@{
    ViewData["Title"] = "BudgetLimit";
}

<h1>Gestion du budget</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Max)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reste)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pourcentage)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td data-label="Nom de la catégorie" class="categoryName">
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td data-label="Limite autorisée">
                @Html.DisplayFor(modelItem => item.Max)
                <span>€</span>
            </td>
            <td data-label="Dépenses actuelles">
                @if (item.Sum > 0)
                {
                    <span>0</span>
                }
                else
                {
                <span class="expenses">@Html.DisplayFor(modelItem => item.Diff)</span>
                    <span>€</span>
                }
            </td>
            <td data-label="Reste">
                @if (item.Sum > 0)
                {
                    @item.Max
                    <span>€</span>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Reste)
                    <span>€</span>
                }
            </td>
            <td data-label="Pourcentage">
                @if (item.Sum > 0)
                {
                    <span class="pourcent">0 %</span>
                    <progress value="@item.Pourcentage" max="100"></progress>
                }
                else
                {
                    <span>@Html.DisplayFor(modelItem => item.Pourcentage)%</span>
                    <progress value="@item.Pourcentage" max="100"></progress>
                }

            </td>
        </tr>
}
    </tbody>
</table>
<div id="piechart"></div>
<link href="~/css/budgetLimit.css" rel="stylesheet" />
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    //Progress bars
    function progress() {
        const progressBar = document.querySelectorAll('progress');
        progressBar.forEach(pro);
        console.log(progressBar);
        function pro(item, index, arr) {
            let v = item.getAttribute("value");
            const iter = (value = 0) => {
                if (value <= v) {
                    item.setAttribute('value', value);
                    setTimeout(() => iter(value + 1), 20);
                }
                if (value == 100) {
                    item.classList.add("red");
                }
            };
            iter();
        }
    }
    progress();

    //Charts
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        let dataArray = [];
        let exp = document.querySelectorAll('.expenses');
        let cat = document.querySelectorAll('.categoryName');
        for (i = 0; i < exp.length; i++) {
            dataArray.push([cat[i].innerHTML.replace("\n",''), parseFloat(exp[i].innerHTML)]);
        }
        dataArray.unshift(['Category', 'Expenses']);
        var data = google.visualization.arrayToDataTable(dataArray);

        var options = { 'title': 'Répartition des dépenses', 'width': 550, 'height': 400 };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }
</script>
